@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(//fonts.googleapis.com/css?family=Josefin+Sans:400);

body { 
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

/*Header bar*/
/*-----------------------------------*/
header#bar{
	width: 100%;
	height: 45px;
	background: -webkit-linear-gradient(top, #5CADDB, #57A4CF);
	background: linear-gradient(90deg, #5CADDB, #57A4CF);
	text-align: center;
	position: relative;
	z-index: 1;
    color: #FFEB3B;
}
/*-----------------------------------*/

/*Title button*/
/*-----------------------------------*/
header#bar #title{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	position: absolute;
	padding: 0;
	top: 7px;
	width: 10%;
	left: 45%;
	right: 45%;
	bottom: 0;
	margin: auto;
	z-index: -500;
    cursor: pointer;
}

/*-----------------------------------*/

/*User*/
/*-----------------------------------*/
header#bar #userToggle{
	z-index: 5;
	position: absolute;
	border-radius: 0;
	margin: 0;
	top: 10px;
	width: 12%;
	float: right;
	right: 5.5%;
}

header#bar #userToggle #userNameContainer{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	width: 87%;
	border-radius: 0;
	border: 0;
	padding: 0;
	padding-top: 5px;
	background-color: transparent;
    color: #FFEB3B;
}

header#bar #userToggle #userMenu{
	z-index: 10;
	width: 13%;
	border-radius: 0;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
    color: #FFEB3B;
    z-index: 10;
}


header#bar #userToggle #list{
	z-index: 10;
	margin-top: 10px;
	border-radius: 0;
	padding: 0;
	padding-bottom: 5%;
	left: 5%;
	position: absolute;
	border: 1px solid #4B8CB1;
}

header#bar #userToggle .dropdown-men li{
	z-index: 10;
	width: 50%;
	border-style: solid;
}

header#bar #userToggle .dropdown-men li a{
	width: 100%;
	padding: 0;
	border-style: solid;
}
/* Miscellaneous */
/*-----------------------------------*/

textarea{
	resize: none;
	overflow: auto;
}
