body { 
	font: 15px Helvetica, Arial; 
}

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

/*Header bar*/
/*-----------------------------------*/
header#bar{
	width: 100%;
	height: 55px;
	background-color: #4B8CB1;
	text-align: center;
	position: fixed;
	z-index: 1;
}
/*-----------------------------------*/

/*Title button*/
/*-----------------------------------*/
header#bar #title{
	font: 24px Helvetica;
	position: absolute;
	padding: 0;
	top: 15px;
	width: 10%;
	left: 45%;
	right: 45%;
	bottom: 0;
	margin: auto;
    color: #FCE38F;
	z-index: -500;
}

header#bar #title:hover{
    cursor: pointer;
}
/*-----------------------------------*/

/*User*/
/*-----------------------------------*/
header#bar #userToggle{
	z-index: 5;
	position: absolute;
	border-radius: 0;
	margin: 0;
	top: 15px;
	width: 12%;
	float: right;
	right: 5.5%;
}

header#bar #userToggle #userName{
	font: 15px Helvetica, Arial; 
	width: 87%;
	border-radius: 0;
	border: 0;
	padding: 0;
	padding-top: 5px;
	background-color: transparent;
	color: #FCE38F;
}

header#bar #userToggle #userMenu{
	z-index: 10;
	width: 13%;
	border-radius: 0;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	color: #FCE38F;
}


header#bar #userToggle #list{
	z-index: 10;
	margin-top: 8px;
	border-radius: 0;
	padding: 0;
	padding-bottom: 5%;
	border: 0;
	left: 5%;
	position: absolute;
}

header#bar #userToggle .dropdown-men li{
	z-index: 10;
	width: 50%;
	border-style: solid;
}

header#bar #userToggle .dropdown-men li a{
	width: 100%;
	padding: 0;
	border-style: solid;
}
/*-----------------------------------*/

