doctype html
extends layout
block head
 link(rel='stylesheet', href='stylesheets/messaging.css')  
block header
  span#bringEvents Events 
   i.fa.fa-chevron-right
  a.btn.btn-danger(id = "logout", href='/') Log Out &nbsp;
    i.fa.fa-sign-out.fa-lg 
block body
   div#body 
     div#statusbar
      ul#users    
     div#chatarea
      button#bring Bring More Messages
      ul#messages
      div#inputBar     
       textarea#name(placeholder='Type your name')
       textarea#text(placeholder='Type your message')
   div#eventBar
     ul#eventStream           
   script(src='/javascripts/home.js')
