doctype html
extends layout
block head
  //- link(rel = 'stylesheet', href = 'stylesheets/pages/main/event_bar.css') 
  //- link(rel = 'stylesheet', href = 'stylesheets/pages/main/event_home.css') 
  //- link(rel = 'stylesheet', href = 'stylesheets/pages/main/event_thread.css')
  //- link(rel = 'stylesheet', href = 'stylesheets/pages/main/event_chat.css')    
  //- link(rel = 'stylesheet', href = 'stylesheets/pages/main/main_body.css')        
  //- link(rel = 'stylesheet', href = 'stylesheets/pages/main/map_styling.css')        
  //- link(rel = 'stylesheet', href = 'stylesheets/pages/main/calendar_styling.css')    
  link(rel = 'stylesheet', href = 'stylesheets/pages/main/minified_main.css')    
  link(rel = 'stylesheet', href = 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
  script(type = 'text/javascript', src = 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')
  script(type = 'text/javascript', src = 'https://cdn.socket.io/socket.io-1.2.0.js')
  script(type = 'text/javascript', src = "//cdn.jsdelivr.net/velocity/1.2.2/velocity.min.js")
block header
   div#bringEvents
    span#bringButton Events &nbsp;
     i.fa.fa-chevron-right 
    span#blank
    span#calendarView 
     i.fa.fa-calendar.fa-lg
   div#userMenu
    a(href='/logout', id = 'logout')
     i.fa.fa-sign-out
    a.btn.btn-primary#userNameContainer
      p(data-id = user.facebook.id || user.google.id)#userName= user.facebook.name || user.google.name
block body
  div#panel
    div#body 
      div#eventHome
        div.eventHome#title 
          p Danny's Birthday Party
        div.eventHome#picture 
          img#image(src = 'http://lsc.org/wp-content/uploads/2013/09/birthday-candles-460x300.png?bab04c')
        div.eventHome#time 
          p 6pm April 13th 2015
        div.eventHome#location 
          span#where 
            p New York City
          i(id = 'mapButton').fa.fa-map-marker.fa-lg
        div.eventHome#description
      div#threadArea
        i(id = 'showThreadPost').fa.fa-pencil-square-o.fa-lg
        ul.threadArea#threads
        textarea.threadArea#threadInput(type = 'text', name = 'thread message', placeholder = 'Type to leave a comment')
        div#submit_thread
          i.fa.fa-check-square-o
        div#cancel_thread_post
          i.fa.fa-times
      div#chatArea
        ul.chatArea#messages
        textarea.chatArea#messageInput(type = 'text', name = 'chat message', placeholder = 'Type to chat')
      div#mapPost
        div#mapMenu
         i(id = 'close_map').fa.fa-times.fa-lg
         i(id = 'submit_map').fa.fa-check.fa-lg 
        div#map
    div#menuSelector
      div.menu#bringThread
        i.fa.fa-list-alt.fa-2x
      div.menu#bringChat
        i.fa.fa-comments-o.fa-2x
    div#eventBar
     div#eventBarMenu
      i.fa.fa-plus.fa-lg(id = 'post_event')
     ul#eventStream
  div#eventPostArea
    div#closePosting
      i.fa.fa-times.fa-lg
    textarea.eventPost#Name(type = 'text', name = 'event name', placeholder = 'Event Name')
    i.fa.fa-globe.fa-2x#locationSelectorButton
    textarea.eventPost#locDescript(type = 'text', name = 'event location', placeholder = 'Event Location')
    i.fa.fa-calendar-o.fa-2x#timeSelector
    textarea.eventPost#Time(type = 'text', name = 'event time', placeholder = 'Event Time')
    textarea.eventPost#Description(type = 'text', name = 'event description', placeholder = 'Event Description')
    div.eventPost#Image
      input#imageUploadButton(type="file")
      i(id = 'imageUploadIcon').fa.fa-file-image-o.fa-2x
    div.eventPost#menu
      span#alert.alert.alert-danger
      span#submitNewEvent submit&nbsp;
        i.fa.fa-check-square-o
  script(type = 'text/javascript', src = '/javascripts/sources/geocoder_min.js')
  //- script(type = 'text/javascript', src = '/javascripts/pages/main/minified_main.js')
  script(type = 'text/javascript', src = '/javascripts/pages/main/home.js')










