doctype html
extends layout
block head
 link(rel='stylesheet', href='stylesheets/pages/messaging.css') 
 link(rel='stylesheet', href='stylesheets/pages/event_bar.css')   
block header
  span#bringEvents Events 
   i.fa.fa-chevron-right
  a.btn.btn-danger(id = "logout", href='/') Log Out &nbsp;
   i.fa.fa-sign-out.fa-lg 
block body
   div#body 
     //- div#statusbar
     //-  ul#users   4 
     div#chatarea
      button#bringMessages Bring More Messages
      ul#messages
      div#inputBar     
       textarea#name(placeholder='Type your name')
       textarea#text(placeholder='Type your message')
   div#menuSelector
    div.menu#eventInfo
    div.menu#Thread
    div.menu#messageStream
      i.fa.fa-list.fa-2x
   div#eventBar
     ul#eventStream
      li.event 1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis adipisci a earum voluptatem ipsum, non, laboriosam laudantium est ea, corporis ut explicabo doloribus dolor optio placeat, aliquam officiis assumenda obcaecati.
      li.event 2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ab placeat veniam ratione hic atque impedit facilis, possimus, tenetur praesentium earum doloremque deleniti illum totam optio deserunt dolorem aperiam repellat.
      li.event 3  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate optio aspernatur obcaecati quidem doloribus odit dolores saepe ullam architecto qui sed eum, distinctio a ex hic dolor corporis fugiat eligendi.
      li.event 4  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi reiciendis ducimus at ipsam, possimus accusantium ratione aliquam laboriosam perspiciatis esse nam minus quasi, dicta recusandae atque mollitia? Aperiam, corporis, possimus.
      li.event 5  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quas iure veniam consequuntur nulla, aspernatur temporibus, numquam quis ex, recusandae dolorum aut laborum in ipsam velit fuga voluptatum iste. Quidem.
     a.btn.btn-danger(id = "post_event") Post Event &nbsp 
      i.fa.fa-plus.fa-lg
   div#eventPostArea
    textarea.eventPost#Title(placeholder = 'Event Title')
    textarea.eventPost#Time(placeholder = 'Event Time')
    textarea.eventPost#Location(placeholder = 'Event Location')
    textarea.eventPost#Description(placeholder = 'Event Description')
    div.eventPost#Image Event Image
   script(src='/javascripts/home.js')