extends layout

block content
   div#user
      b USERS
      |   
      div#users
   div#conversationBox
      div#conversation
      |   
      input#data(style='width:200px;')
      |   
      input#datasend(type='button', value='send')
