doctype html
extends layout
block head
 link(rel='stylesheet', href='stylesheets/pages/event_bar.css') 
 link(rel='stylesheet', href='stylesheets/pages/event_home.css') 
 link(rel='stylesheet', href='stylesheets/pages/event_thread.css')
 link(rel='stylesheet', href='stylesheets/pages/event_chat.css')    
 link(rel='stylesheet', href='stylesheets/pages/main_body.css')        
 script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
block header
  span#bringEvents Events &nbsp
   i.fa.fa-chevron-right 
  div#userToggle
   a.btn.btn-primary#userName
     i.fa.fa-user.fa-fw#name
        | &nbsp User
   a.btn.btn-primary.dropdown-toogle#userMenu(data-toggle='dropdown')
        span.fa.fa-caret-down.fa-lg   
      ul.dropdown-menu#list
        li
          a() Edit   
        li
          a() Delete 
        li
          a() Ban    
        li.divider
        li
          a(href='/') Log Out &nbsp;
           i.fa.fa-sign-out
block body
   div#body 
     //- div#statusbar
     //-  ul#users   4 
     div#eventHome
     div#thread
     div#chatarea
      button#bringMessages Bring More Messages
      ul#messages
      div#inputBar     
       //- textarea.messaging#name(placeholder='Type your name')
       textarea.messaging#text(placeholder='Type your message')
   div#menuSelector
    div.menu#eventInfo
      i.fa.fa-tasks.fa-2x
    div.menu#eventThread
      i.fa.fa-list-alt.fa-2x
    div.menu#messageStream
      i.fa.fa-comments-o.fa-2x
   div#eventBar
     ul#eventStream
      li.event 1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis adipisci a earum voluptatem ipsum, non, laboriosam laudantium est ea, corporis ut explicabo doloribus dolor optio placeat, aliquam officiis assumenda obcaecati.
      li.event 2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ab placeat veniam ratione hic atque impedit facilis, possimus, tenetur praesentium earum doloremque deleniti illum totam optio deserunt dolorem aperiam repellat.
      li.event 3  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate optio aspernatur obcaecati quidem doloribus odit dolores saepe ullam architecto qui sed eum, distinctio a ex hic dolor corporis fugiat eligendi.
      li.event 4  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi reiciendis ducimus at ipsam, possimus accusantium ratione aliquam laboriosam perspiciatis esse nam minus quasi, dicta recusandae atque mollitia? Aperiam, corporis, possimus.
      li.event 5  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quas iure veniam consequuntur nulla, aspernatur temporibus, numquam quis ex, recusandae dolorum aut laborum in ipsam velit fuga voluptatum iste. Quidem.
      li.event 6  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos aut, ipsam modi excepturi possimus odio, enim iste incidunt aperiam voluptate ex, beatae blanditiis id consectetur voluptatibus libero. Atque, architecto, dolorum?
     a.btn.btn-danger(id = "post_event") Post Event &nbsp 
      i.fa.fa-plus.fa-lg
   div#eventPostArea
    textarea.eventPost#Title(placeholder = 'Event Title')
    textarea.eventPost#Time(placeholder = 'Event Time')
    textarea.eventPost#Location(placeholder = 'Event Location')
    textarea.eventPost#Description(placeholder = 'Event Description')
    div.eventPost#Image
   script(src='/javascripts/home.js')










