doctype html
extends layout
block header
  span#bringEvents Events 
   i.fa.fa-chevron-right
  a.btn.btn-danger(id = "logout", href='/login') Log Out 
    i.fa.fa-sign-out.fa-lg 
block body
   div#body 
     div#statusbar
      ul#users    
     div#chatarea
      button#bring Bring More Messages
      ul#messages
      div#inputBar     
       input#name(placeholder='Type your name')
       input#text(placeholder='Type your message')
   div#eventBar
     ul#eventStream           
   script(src='/javascripts/script.js')
