doctype html
extends layout

block body
   div#content 
     div#statusbar
      ul#users    
     div#chatarea
      ul#messages
      form#inputBar(action='')
       input#m(autocomplete='off')
       button Send
   script(src='/javascripts/script.js')
