doctype html
extends layout
block body
   div#body 
     div#statusbar
      ul#users    
     div#chatarea
      button#bring Bring More Messages
      ul#messages
      div#inputBar
        textarea#name(placeholder='Type your name')
        textarea#text(placeholder='Type your mesage')
   div#eventBar
     ul#eventStream           
   script(src='/javascripts/script.js')
