html
  head
   title Socket.IO chat
   link(rel='stylesheet', href='stylesheets/style.css')  
   script(src='https://cdn.socket.io/socket.io-1.2.0.js')
   script(src='http://code.jquery.com/jquery-1.11.1.js')
  body
   header#bar
    button#logout log out
    div#name Stream Events
    div#bringEvents Events
   block body
   footer#aboutus