doctype html
extends layout
block head
  script(src='https://apis.google.com/js/client:platform.js')
block body
   div#content 
    textarea#id(placeholder='Type your id')
    textarea#password(placeholder='Type your password')
   script(src='/javascripts/script.js')
