doctype html
extends layout
block head
  script(type = 'text/javascript', src = 'https://apis.google.com/js/client:platform.js', async, defer)
  script(type = 'text/javascript', src = 'http://static.ak.fbcdn.net/connect/en_US/core.js')
  script(type = 'text/javascript', src = '/javascripts/sources/particles.min.js')
  link(rel ='stylesheet', href = 'stylesheets/pages/login/login_page.css')  
block body
   div#particles
   div#main_area
    div#login
      span Sign in with
      span#google_login.login_buttons
        a(href='/auth/google')
          | Google &nbsp;
          i.fa.fa-google-plus
      span#facebook_login.login_buttons
        //- a(href='/auth/facebook')
        a(href='/home')
          | Facebook &nbsp;
          i.fa.fa-facebook-official
   footer#aboutus 
    div#footer-info 
     div#made-by Made By
     div#contributors   
       span Howon Byun &nbsp;
       span Ken Aizawa &nbsp; 
       span Ben Low &nbsp;
       span Danny Benett &nbsp; &nbsp;
     a(id = "github-link", href = 'https://github.com/Howon/stream-events')  
      i#github-icon.fa.fa-github.fa-2x 
   script(type = 'text/javascript', src = '/javascripts/pages/login/auth.js')
   script(type = 'text/javascript', src = '/javascripts/pages/login/particles_login.js')
   