/*
#statusbar{
    float: left;
    width: 8%;
    height: 100%;
}

#statusbar #users{
    height: 80%;
    list-style-type: none;
    overflow: auto; 
}

#statusbar #users li{
    line-height: normal;
    padding: 0;
    height: 8%;
    width: 100%;
    text-align: center;
}

#statusbar #users li.user {
    background: #ccc;
}

#statusbar #users li.other {
    background: #eee;
}*/

#chatarea{
    position: absolute;3
    float: left;
    margin-left: 100%;
    width: 0%;
    height: 100%;
    background-color: #FFF4DB;
    padding: 0;
}

button#bringMessages{
    width: 100%;
    height: 5%;
    color:black;
    border: 0;
    padding: 0;
    text-decoration:none;
    outline: none;
    display: none;
    background-color: #A5A5A5;
}

button#bringMessages p{
    color: black;
    position: relative;
    margin: 0;
}
button#bringMessages:hover{
    background-color: #AD93EA
}

div#inputBar{
    height: 6%;
    position: relative; 
    border-top: 1px #AFB6BF solid;
}

input{
    border:0;
    padding: 0;
    border-radius: 0;
}

textarea.messaging{
    float: left;
    height: 80%;
    border-radius: 0;
    padding: 3px;
    top: 10%;
    border:0px;
    position: relative;
    resize: none;
    outline: none;
}

/*
textarea#name{
    left: 0.8%;
    width: 15%;
    border: 0px;
}*/

textarea#text{
    padding: 0.5%;
    left: 5%;
    width: 90%;
}

ul#messages{ 
    position: relative;
    list-style-type: none; 
    margin: 0;  
    padding: 5px;
    height: 89%;
    overflow: auto;
}

ul#messages li{ 
    padding: 0; 
    height: 5%;
    width: 100%;
}

ul#messages li.user{
    /*color: #ccc;*/
}

ul#messages li.other{
    color: #eee;
}

ul#messages li:nth-last-child(1) {
   color: #ADD8E6;
}

