/*Header bring event button*/
/*-----------------------------------*/
header#bar #bringEvents{
	position: absolute;
	left: 5%;
	height: 100%;
	width: 15%;
	min-width: 150px;
	margin: 0;
	z-index: -10;
}

header#bar #bringButton{
	float: left;
    left: 7%;
	font: 15px Helvetica;
	top: 20px;
	height: 20px;
	position: relative;
	color: #FCE38F;
    cursor: pointer;
}

header#bar #blank{
	float: left;
	z-index: -10;
	position: relative;
	top: 20px;
	width: 50%;
	height: 35px;
	display: none;
}

header#bar #bringButton:hover{
	color: #FFF6D9;
}

header#bar #calendarView{
	right: 20%;
	top: 23px;
	height: 40%;
	position: absolute;
	display: none;
	color: #FCE38F;
	cursor: pointer;
}

header#bar #calendarView:hover{
	color: #FFF6D9;
}
/*-----------------------------------*/

/*Firefox compatibility*/
/*-----------------------------------*/
@-moz-document url-prefix() {	
	header#bar #post_event{
		top: 36%;	
	}
}
/*-----------------------------------*/

/*Bar itself*/
/*-----------------------------------*/
div#eventbar{
	position: absolute;
	height: 100%;
	background-color: #FF9888;
	opacity: 0.8;
	/*left: -23%;*/
	width: 23%;
	margin: 0;
	padding: 0;
}
/*Each event element*/
/*-----------------------------------*/
div#eventbar ul#eventStream{
	top: 5px;
	left: 1.5%;
	border: 0;
	position: absolute;	
	overflow: auto;
	width: 97%;
	height: 92%;
}

div#eventbar ul#eventStream li.event{
	padding-left: 2%;
	width: 100%;
	height: 19%;
	min-height: 90px;
	margin-bottom: 3px;
	background-color: white;
	border-radius: 5px;
	overflow: auto;
}
/*-----------------------------------*/

/*"Post event" button*/
/*-----------------------------------*/
#post_event{		
	position: absolute;
	float: bottom;
	top: 95%;
	left: 0;
	right: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
	border: 0;
	font: 15px Helvetica;
	background-color: transparent;
	border: 0;	
	color: #FFEC6A;
}

/*-----------------------------------*/

/*Event posting form*/
/*-----------------------------------*/
div#eventPostArea{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 500px;
	height: 380px;
	opacity: 0.95;
	background-color: #4B4B4B;
	display: none;
	border-radius: 5px;
}

div#eventPostArea #cancel{
	position: absolute;
	left:96%;
	top: 1%;
}

div#eventPostArea #cancel:hover{
	color: red;
	cursor: pointer;
}

.eventPost{
    resize: none;
    background-color: #D1D1D1;
    border: 0;
    margin: 0;
    padding: 0;
}

.eventPost#Image{
	position: relative;
	top: 6%;
	left: 5%;
	height: 40%;
	width: 30%;
}

.eventPost#Name{
	position: absolute;	
	float: right;
	top: 6%;
	right: 5%;
	height: 8%;
	width: 58%;
}

.eventPost#Time{
	position: relative;
	float: right;
	top: 22%;
	right: 5%;
	height: 8%;
	width: 58%;
}

.eventPost#Location{
	position: relative;
	float: right;
	top: 30%;
	right: 5%;
	height: 8%;
	width: 58%;
}

.eventPost#Description{
	position: absolute;
	float: right;
	top: 52%;
	height: 38%;
	left: 5%;
	width: 90%;
}

.eventPost#menu{
	position: absolute;
	background-color: transparent;
	color: white;
	top: 92%;
	left: 5%;
	width: 90%;
}

.eventPost#menu span:hover{
	cursor: pointer;
}


.eventPost#menu #submit{
	position: fixed;
	z-index: 1;
	left: 70%;
}

.eventpost#menu #submit:hover{
	color: green;
}

.eventpost#menu span#alert{
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	display: none;
	width: 30%;
	margin: 0;
	margin-right: 0;
}

::-webkit-input-placeholder {
   color: #A5A5A5;
}

:-moz-placeholder { /* Firefox 18- */
   color: #A5A5A5;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #A5A5A5;  
}

:-ms-input-placeholder {  
   color: #A5A5A5;  
}

