#eventHome{
	float: left;
	margin: 0;
	position: absolute;
    width: 40%;
    height: 100%;
    background-color: #FFF4F7;
}

#eventHome p{
	display: table;
	margin: auto;
}

div.eventHome{
    border : 1px #AFB6BF solid;
	position: absolute;
	width: 98%;
	left:1%;
}

div.eventHome#title{
	top: 1%;
	height: 5%;
	padding: 1%;
	border-style: solid;
}

div.eventHome#picture{
	top: 7%;
	height: 32%;
}

div.eventHome#picture #image{
	position: absolute;
	padding: 0;
	height: 100%;
	left: 0;
	right: 0;
	margin: auto;
}

div.eventHome#time{
	top: 40%;
	left: 1%;
	padding: 1%;
	height: 8%;
	width: 98%;
}

div.eventHome#location{
	top: 49%;
	height: 5%;
}
div.eventHome#location #where{
	float: left;
	padding: 1%;
}

div.eventHome#location #mapButton{
	float: right;
	padding-top: 2%;
	padding-right: 1%;
}

div.eventHome#location #mapButton:hover{
	color: #93D167;
	cursor: pointer;
}

div.eventHome#description{
	top: 55%;
	height: 44%;
}

div#body #map{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	display: none;
}

