#chatarea{
    position: absolute;
    float: left;
    margin-left: 100%;
    width: 0%;
    height: 100%;
    background-color: #FFFBFF;
    padding: 0;
    border-left: 1px #AFB6BF solid;
}

div#inputBar{
    height: 5.5%;
    position: relative; 
    padding: 0;
    border-top: 1px #AFB6BF solid;
    display: none;
}

input{
    padding: 0;
    border-radius: 0;
}

input.messaging{
    float: left;
    height: 80%;
    border-radius: 0;
    padding: 3px;
    top: 10%;
    border:0px;
    position: relative;
    resize: none;
    outline: none;
}

input#text{
    padding: 0.5%;
    left: 2%;
    width: 96%;
    border : 1px #AFB6BF solid;
}

ul#messages{ 
    position: relative;
    list-style-type: none; 
    margin: 0;  
    padding: 0;
    height: 94%;
    overflow: auto;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
}


ul#messages li{ 
    padding: 0; 
    width: 100%;
}

ul#messages li.user{
    color: #ADD8E6;
}

ul#messages li.other{
    color: #EA7A61;
}
