/*Header bring event button*/
/*-----------------------------------*/
header#bar #bringEvents{
	float: left;
    left: 5%;
	font: 15px Helvetica;
	top: 35%;
	height: 40%;
	position: relative;
	color: #FEFFFF;
    cursor: pointer;
}
/*-----------------------------------*/

/*Firefox compatibility*/
/*-----------------------------------*/
@-moz-document url-prefix() {	
	header#bar #post_event{
		top: 36%;	
	}
}
/*-----------------------------------*/
header#bar #bringEvents:hover{
	color: #AD93EA;
}
/*Bar itself*/
/*-----------------------------------*/
div#eventbar{
	z-index: 10;
	position: absolute;
	height: 100%;
	background-color: #888888;
	opacity: 0.8;
	left: -23%;
	width: 23%;
	border:0;
	margin: 0;
	padding: 0;
}
/*Each event element*/
/*-----------------------------------*/
div#eventbar ul#eventStream{
	top: 0.8%;
	left: 1.5%;
	border: 0;
	position: absolute;	
	overflow: auto;
	width: 97%;
	height: 90%;
}

div#eventbar ul#eventStream li.event{
	padding-left: 2%;
	width: 100%;
	height: 18%;
	background-color: white;
	border: 0;
	overflow: auto;
    border-bottom: 1px #AFB6BF solid;
}
/*-----------------------------------*/

/*"Post event" button*/
/*-----------------------------------*/
#post_event{
	float: bottom;
	top: 94.5%;
	left: 33%;
    margin: 0;
    padding: 0;
	border: 0;
	font: 15px Helvetica;		
	position: absolute;
	background-color: transparent;
	border: 0;	
	color: white;
}

#post_event:hover{
	color: #AD93EA;
}
/*-----------------------------------*/

/*Event posting form*/
/*-----------------------------------*/
div#eventPostArea{
	position: absolute;
	top: 25%;
	left: 35%;
	width: 30%;
	height: 40%;
	opacity: 0.9;
	background-color: #4B4B4B;
	display: none;
	border-radius: 5px;
}

.eventPost{
    resize: none;
    background-color: #D1D1D1;
}

.eventPost#Image{
	position: relative;
	top: 6%;
	left: 5%;
	height: 40%;
	width: 30%;
}

.eventPost#Title{
	position: absolute;	
	float: right;
	top: 6%;
	right: 5%;
	height: 8%;
	width: 58%;
}

.eventPost#Time{
	position: relative;
	float: right;
	top: 22%;
	right: 5%;
	height: 8%;
	width: 58%;
}

.eventPost#Location{
	position: relative;
	float: right;
	top: 30%;
	right: 5%;
	height: 8%;
	width: 58%;
}

.eventPost#Description{
	position: absolute;
	float: right;
	top: 52%;
	height: 40%;
	left: 5%;
	width: 90%;
}

::-webkit-input-placeholder {
   color: #A5A5A5;
}

:-moz-placeholder { /* Firefox 18- */
   color: #A5A5A5;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #A5A5A5;  
}

:-ms-input-placeholder {  
   color: #A5A5A5;  
}

