#eventHome{
  	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	float: left;
	margin: 0;
	position: absolute;
    width: 35%;
    height: 100%;
    border-right: 1px solid #DCDCDC;
    background-color: #FFFDE7;
}

#eventHome p{
	display: table;
	margin: auto;
}

div.eventHome{
    background-color: white;
	position: absolute;
	left: 8px;
	width: calc(100% - 16px);
	-webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
	padding-left: 5px;
	padding-right: 5px;
}

div.eventHome#title{
	top: 8px;
	height: 4%;
	display: table; 
}

#title p{
	text-align: center;
	vertical-align: middle;
	display: table-cell;  
}

div.eventHome#picture{
	top: 6.5%;
	height: 37.5%;
    overflow:hidden;
    padding: 3px;
}

div.eventHome#picture #image{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	height: calc(100% - 6px);
}

div.eventHome#time{
	top: 45%;
	height: 4.5%;
	display: table; 
}

#time p{
	vertical-align: middle;
	display: table-cell;   
}

div.eventHome#location{
	top: 50.5%;
	height: 8%;
    
}

div.eventHome#location #where{
	float: left;
	width: 95%;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.eventHome#location #where p{
	width: 100%;
}

div.eventHome#location #mapButton{
	display: none;
	float: right;
	right: 10px;
	position: absolute;
	top: calc(60% - 13px);
	cursor: pointer;
	font-size: 26px;
}

div.eventHome#location #mapButton:hover{
	color: #43A047;
}

div.eventHome#description{
	float: bottom;
	height: 39%;
	bottom: 10px;
}
