/*Header bring event button*/
/*-----------------------------------*/
header#bar #bringEvents{
	position: absolute;
	height: 100%;
	width: 310px;
	min-width: 150px;
	margin: 0;
	z-index: -10;
	color: #FFEB3B;
}

header#bar #bringButton{
	float: left;
    left: 100px;
	font: 17px Helvetica;
	top: 12px;
	height: 20px;
	position: relative;
    cursor: pointer;
}

header#bar #blank{
	float: left;
	z-index: -10;
	position: relative;
	top: 12px;
	padding-top: 10px;
	width: 70%;
	height: 40px;
	display: none;
}

header#bar #calendarView{
	right: 30px;
	top: 12px;
	height: 40%;
	position: absolute;
	display: none;
	cursor: pointer;
}
/*-----------------------------------*/

/*Bar itself*/
/*-----------------------------------*/
div#eventbar{
	position: absolute;
	height: 100%;
	background-color: #FFFDE7;
	opacity: 0.99;
	left: -335px;
	width: 320px;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: 3px 0px 15px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 3px 0px 15px 10px rgba(0,0,0,0.1);
	box-shadow: 3px 0px 15px 10px rgba(0,0,0,0.1);
}
/*Each event element*/
/*-----------------------------------*/
div#eventbar ul#eventStream{
	position: absolute;	
	top: 4%;
	border: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	width: 100%;
	height: 93%;
}

div#eventbar ul#eventStream li.event{
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	width: calc(95% - 7px);
	height: 120px;
	min-height: 90px;
	background-color: #FFFFFF;
	overflow: auto;
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);
	border: 1px white solid;
}

div#eventbar ul#eventStream li.event:hover{
	-webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.15);
}
/*-----------------------------------*/

/*"Post event" button*/
/*-----------------------------------*/
div#eventBarMenu{		
	font: 15px Helvetica;
	position: absolute;
	top: 1%;
	left: 0;
	right: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
	border: 0;
	background-color: transparent;
	border: 0;	
	color: #FFEC6A;
}

div#eventBarMenu #post_event{
	position: absolute;
	float: right;
	right: 10%;
	cursor: pointer;
	color: #3F51B5;
}
/*-----------------------------------*/

/*Event posting form*/
/*-----------------------------------*/
div#eventPostArea{
	z-index: 5;
	display: none;
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 360px;
	height: 265px;
	background-color: #5CADDB;
	border: 1px solid #9D9D9D;
	font: 13px Helvetica;
	-webkit-box-shadow: 3px 2px 5px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 2px 5px 1px rgba(0,0,0,0.3);
	box-shadow: 3px 2px 5px 1px rgba(0,0,0,0.3);
}

.eventPost{
    resize: none;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    outline: none;
	border: 0;
	-webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.15);
}

.eventPost:hover{
	-webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.3);
}

.eventPost#Image{
	position: absolute;
	float: left;
	top: 25px;
	left: 15px;
	width: 0;
	height: 0;
	color: #FFEB3B;
	cursor: pointer;
	font-size: 14px;
}

.eventPost#Image i#imageUploadIcon:hover{
	color: #EC407A;
}

.eventPost#Image input[type=file]{ 
	display: none;
}

.eventPost#Name{
	position: absolute;	
	float: right;
	top: 25px;
	height: 30px;
	right: 16px;
	width: 81%;
	padding-left: 5px;
	padding-top: 5px;
}

.eventPost#locDescript{
	position: relative;
	float: right;
	top: 65px;
	height: 30px;
	right: 16px;
	width: 81%;
	padding-left: 5px;
	padding-top: 5px;
}

#locationSelectorButton{
	position: absolute;
	float: left;
	left: 15px;
	top: 64px;
	cursor: pointer;
	font-size: 29px;
	color: #FFEB3B;
}

#locationSelectorButton:hover{
	color: #43A047;
}

.eventPost#Time{
	position: relative;
	float: right;
	top: 75px;
	height: 30px;
	right: 16px;
	width: 81%;
	padding-left: 5px;
	padding-top: 5px;
}

#timeSelector{
	position: absolute;
	float: left;
	left: 16px;
	top: 106px;
	cursor: pointer;
	font-size: 27px;
	color: #FFEB3B;
}

#timeSelector:hover{
	color: #7E57C2;
}

.eventPost#Description{
	position: absolute;
	float: left;
	top: 145px;
	height: 80px;
	left: 16px;
	width: calc(100% - 32px);
	padding-left: 5px;
	padding-top: 5px;
}

#eventPostArea #closePosting{
	color: #FFEB3B;
	position: absolute;
	font-size: 18px;
	left: 94.5%;
	top: 2%;
}

#eventPostArea #closePosting:hover{
	color: #FF4241;
	cursor: pointer;
}

/* Event Post Menu */
/*-----------------------------------*/
.eventPost#menu{
	font: 15px Helvetica;
	position: absolute;
	background-color: transparent;
	color: white;
	height: 20px;
	top: 235px;
	left: 8%;
	width: 90%;
    box-shadow: none;
}

.eventPost#menu span{
	cursor: pointer;
}

.eventPost#menu #submitNewEvent{
	float: right;
	font-size: 17px;
	color: #FFEB3B;
}

.eventpost#menu #submitNewEvent:hover{
	color: white;
}
/*
.eventpost#menu span#alert{
	position: absolute;
	height: 100%;
	padding: 0;
	padding-left: 2px;
	display: none;
	width: 73.5%;
	margin: 0;
}
*/