/*Header bring event button*/
/*-----------------------------------*/
header#bar #bringEvents{
	float: left;
    left: 5%;
	font: 14px Helvetica;
	top: 35%;
	height: 40%;
	position: relative;
	color: white;
    cursor: default;
}
/*-----------------------------------*/

/*Firefox compatibility*/
/*-----------------------------------*/
@-moz-document url-prefix() {	
	header#bar #post_event{
		top: 36%;	
	}
}
/*-----------------------------------*/

header#bar #post_event:hover{
	color: #CC0099;
}

header#bar #bringEvents:hover{
	color: #808080;
}
/*Bar itself*/
/*-----------------------------------*/
div#eventbar{
	position: absolute;
	top: 6.5%;
	height: 93.5%;
	background-color: #585858;
	opacity: 0.9;
	left: -23%;
	width: 23%;
	border:0;
}
/*Each event element*/
/*-----------------------------------*/
div#eventbar ul#eventStream{
	top: 0.8%;
	left: 1.5%;
	border: 0;
	position: absolute;	
	overflow: auto;
	width: 97%;
	height: 90%;
}

div#eventbar ul#eventStream li.event{
	padding-left: 2%;
	width: 100%;
	height: 20%;
	background-color: white;
	border-bottom: 4px solid;
	overflow: auto;
}
/*-----------------------------------*/

/*"Post event" button*/
/*-----------------------------------*/
#post_event{
	float: bottom;
	top: 94%;
	left: 33%;
    margin: 0;
    padding: 0;
	font: 15px Helvetica;		
	position: absolute;
	background-color: transparent;
	border: 0;	
	color: white;
}

#post_event:hover{
	color: #A68EDE;
}
/*-----------------------------------*/

div#eventPostArea{
	position: absolute;
	top: 10%;
	left: 25%;
	width: 50%;
	height: 80%;
	background-color: #4B4B4B;
	opacity: 0;
}






