div#body{
    float: left;
    position: absolute;
    top: 12.5%;
    width: 80%;
    left: 10%;
    height: 80%;
    background-color: white;
    padding: 0;
}

#statusbar{
    float: left;
    width: 8%;
    height: 100%;
}

#statusbar #users{
    height: 80%;
    list-style-type: none;
    overflow: auto; 
}

#statusbar #users li{
    line-height: normal;
    padding: 0;
    height: 8%;
    width: 100%;
    text-align: center;
}

#statusbar #users li.user {
    background: #ccc;
}

#statusbar #users li.other {
    background: #eee;
}

#chatarea{
    float: left;
    width: 100%;
    height: 100%;
    border-style: solid;
}

button#bring{
    width: 100%;
    height: 6%;
    padding: 0;
    color:black;
    text-decoration:none;
}

button#bring:hover{
    background-color: #ADD8E6
}

div#inputBar{
    height: 10%;
    background: white; 
    position: relative; 
}

input{
    border:0;
    padding: 0;
    border-radius: 0;
}

textarea#name{
    float: left;
    height: 100%;
    width: 15%;
    border-radius: 0;
    padding: 3px;
    margin: 0;
    resize: none;
}

textarea#text{ 
    width: 85%; 
    height: 100%;
    border-radius: 0;
    resize: none;
    padding: 3px;
}

#messages{ 
    position: relative;
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    margin-top: 0.1%;
    padding-bottom: 0.5%;
    height: 84%;
    overflow: auto;
    background-color: #E3E3E3;
}

#messages li{ 
    padding: 0; 
    height: 5%;
    width: 100%;
}


#messages li.user{
    color: #ccc;
}

#messages li.other{
    color: #eee;
}

#messages li:nth-last-child(1) {
   color: #ADD8E6;
}

