body { 
	font: 10px Helvetica, Arial; 
}

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

header#bar{
	width: 100%;
	height: 6.5%;
	background-color: #99CCFF;
	text-align: center;
	position: fixed;
	z-index: 1;
}

header#bar #logout{
	font: 14px Helvetica;
	position: absolute;
    text-decoration: none;
	top: 27%;
	display: block;
    color: white;
    background-color: transparent;
    border: 0 none;
	float: right;
	right: 5.5%;
}

header#bar #logout:hover{
    color: #808080;
}

header#bar #bringEvents{
	float: left;
    left: 5.5%;
	font: 14px Helvetica;
	top: 40%;	
	position: relative;
	color: white;
}
header#bar #bringEvents:hover{
	color: #808080;
}
header#bar #title{
	font: 18px Helvetica;
	position: absolute;
	padding: 0;
	top:40%;
	width: 6%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
    color: white;
	z-index: -5;
}

header#bar #title:hover{
    color: #808080;
    cursor: pointer;
}

