#user{
	float:left;
	width:100px;
	border-right:1px solid black;
	height:500px;
	padding:10px;
	overflow:scroll-y;
	margin-left: 5rem;
	margin-right: 2rem;
}

#conversationBox{
	width:400px;
	height:250px;
	overflow:scroll-y;
	padding:10px;
	margin-left: 10rem;
}