body { 
	font: 13px Helvetica, Arial; 
	/*background-color: black;*/
}

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

header#bar{
	width: 100%;
	height: 5%;
	background-color: black;
	text-align: center;
	position: fixed;
}

header#bar #logout{
	position: relative;
	float: left;
	top: 50%;
	transform: translateY(-50%);
	display: block;
    text-transform: uppercase;
    color: #ccc;
    margin-left: 5.5%;
    background-color: black;
    border: 0 none;
}

header#bar #logout:hover{
	color: white;
}

header#bar #name{
	width: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	color: white;
	top: 50%;
	transform: translateY(-50%);
}

header#bar #bringEvents{
	color: white;
	width: 7%;
	position: relative;
	float: right;
	color: #ccc;
	/*margin-left: auto;*/
	margin-right:3%;
}

header#bar #bringEvents:hover{
	color: white
}

#content{
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	width: 90%;
	height: 80%;
	left: 50%;
	margin-left: -45%;
	background-color: white;
	border-style: solid;
}

#statusbar{
	float: left;
	width: 8%;
	height: 100%;
	border-right: solid;
}

#statusbar #users{
	height: 80%;
	list-style-type: none;
	overflow: auto; 
}

#statusbar #users li{
	padding: 0;
	height: 8%;
	width: 100%;
}

#statusbar #users li.user {
	background: #ccc;
}

#statusbar #users li.other {
	background: #eee;
}

#chatarea{
	float: left;
	width: 92%
}

div#inputBar{
	width: 92%;
	height: 15%;
	border-top: solid;
	background: white; 
	position: fixed; 
	bottom: 0; 
}

textarea#name{
	float: left;
	height: 100%;
	width : 10%;
	border-right: solid;
}

textarea#text{ 
	/*float: left;*/
	width: 90%; 
	height: 100%;
}

::-webkit-input-placeholder {
   transform: translateY(50%);
}
:-moz-placeholder { /* Firefox 18- */
   transform: translateY(50%);
}
::-moz-placeholder {  /* Firefox 19+ */
   transform: translateY(50%);
}
:-ms-input-placeholder {  
   transform: translateY(50%);
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	padding-top: 0.5%;
	height: 79%;
    overflow: scroll;
}

#messages li{ 
	padding: 0; 
	height: 8%;
	width: 100%;
}

button#bring{
	width: 100%;
	height: 6%;
	padding: 0;
	border : 0px solid #666;
 	color:#000;
  	text-decoration:none;
}

button#bring:hover{
	background-color: #ADD8E6
}

#bring #content {
	width: 50%;
}

#messages li.user {
	background: #ccc;
}

#messages li.other {
	background: #eee;
}

#messages li:nth-last-child(1) {
   background: #ADD8E6;
}

