body { 
	font: 10px Helvetica, Arial; 
}

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

header#bar{
	width: 100%;
	height: 6.5%;
	background-color: #C4D8E2;
	text-align: center;
	position: fixed;
	z-index: 1;
}

header#bar #logout{
	font: 14px Helvetica;
	position: absolute;
    text-decoration: none;
	top: 27%;
	display: block;
    color: black;
    background-color: transparent;
    border: 0 none;
	float: right;
	right: 5.5%;
}

header#bar #logout:hover{
	color: white;
}

header#bar #bringEvents{
	float: left;
    left: 5.5%;
	font: 14px Helvetica;
	top: 40%;	
	position: relative;
	color: black;
}

header#bar #title{
	font: 15px Helvetica;
	position: absolute;
	padding: 0;
	top:40%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
    color: black;
	z-index: -5;
}

header#bar #title:hover{
    color: black;
}

div#body{
	float: left;
	position: absolute;
	top: 12.5%;
	width: 80%;
	left: 10%;
	/*margin-left: -37.5%;*/
	height: 80%;
	background-color: white;
	border-left: solid;
	padding: 0;
}

#statusbar{
	float: left;
	width: 8%;
	height: 100%;
	border-right: solid;
	border-top: solid;
	border-bottom: solid;
}

#statusbar #users{
	height: 80%;
	list-style-type: none;
	overflow: auto; 
}

#statusbar #users li{
    line-height: normal;
	padding: 0;
	height: 8%;
	width: 100%;
	text-align: center;
	border-bottom: solid;
}

#statusbar #users li.user {
	background: #ccc;
}

#statusbar #users li.other {
	background: #eee;
}

#chatarea{
	float: left;
	width: 90%;
	border-right:solid;
	height: 100%;
	border-top: solid;
	border-bottom: solid;
}

div#inputBar{
	height: 10%;
	border-top: solid;
	background: black; 
	position: relative; 
}

input{
	border:0;
	padding: 0;
	border-radius: 0;
}

textarea#name{
	float: left;
	height: 100%;
	width: 15%;
	border-right: solid;
	border-radius: 0;
}

textarea#text{ 
	width: 85%; 
	height: 100%;
	border-radius: 0;
}

#messages { 
	position: relative;
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	margin-top: 0.1%;
	padding-bottom: 0.5%;
	height: 84%;
    overflow: auto;
}

#messages li{ 
	padding: 0; 
	height: 8%;
	width: 100%;
}

button#bring{
	width: 100%;
	height: 6%;
	padding: 0;
	border : 0px solid #666;
 	color:#000;
  	text-decoration:none;
}

button#bring:hover{
	background-color: #ADD8E6
}

#bring #content {
	width: 50%;
}

#messages li.user {
	background: #ccc;
}

#messages li.other {
	background: #eee;
}

#messages li:nth-last-child(1) {
   background: #ADD8E6;
}

div#eventbar{
	position:absolute;
	float: left;
	top: 6.5%;
	height: 93.5%;
	margin-left: 0;
	margin-right: 100%;
	background-color:black;
	opacity: 0.85;
}

#loginform{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    position: absolute;
    top: 17%; 
    left: 0; 
    bottom: 0; 
    right: 0;
    width: 30%;
    height: 60%;
	border-style: solid;
	z-index: 0;
}

#loginform #inputArea{
	position: absolute;
	/*top: 76.5%;*/
	height: 100px;
	width: 100%;
	border:0;
	bottom: 0;
}
/*INPUT PASSWORD AND EMAIL*/
/*-----------------------------------*/
#inputArea #login-information{
	float: left;
	height: 100%;
	width: 80%;
	padding: 0;
	border:0;
}

#inputArea #login-information .input-group{
	float: left;
	width: 100%;
	height: 50%;
}

#inputArea #login-information .input-group .input-group-addon{
	width: 20%;
	padding: 0;
	height: 100%;
	border-radius: 0;
	border-right: 1px;
	border-color: #808080;
	border-bottom: 1px;
}

#loginform #login-information .input-group .input-group-addon:hover{
	color: #C4D8E2;
	border-color: #C4D8E2;
}

#loginform #login-information .input-group .form-control{
	padding: 0;
	height: 100%;
	border-right: 0;
	border-bottom: 0;
	border-radius: 0;
	border-color: #808080;
}
/*-----------------------------------*/

/*LOGIN BUTTON*/
/*-----------------------------------*/
#loginform #log-in{
	float: right;
	min-height: 100%;
	width: 20%;
	padding: 0;
	border: 0;
	border-left: 1px;
	margin-right: 0;
}

#loginform #log-in-button{
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 0;
	padding: 0;
	padding-top: 37%;
	border-bottom: 0;
	background-color: white;
	border-color: #808080;
	color:#808080;
}

#loginform #log-in-button:hover{
	color:#C4D8E2;
	border-color: #C4D8E2;
}
/*-----------------------------------*/

/*FIREFOX COMPATIBILITY*/
/*-----------------------------------*/
@-moz-document url-prefix() {	
	#loginform #log-in-button{
	padding-top: 27%;
}
}
/*-----------------------------------*/

input.form-control:hover{
	color: #C4D8E2;
	border-color: #C4D8E2;
}

footer#aboutus{
	font: 13px Helvetica;
	clear: both;
    background: #C4D8E2;
    color: black;
    padding: 0;
    padding-top: 1.5%;
    text-align: center;
    position: fixed;
    bottom: 0px;
    height: 12%;
    width: 100%;
    z-index: 5;
}
footer#aboutus #footer-info{
	margin-left: auto;
	margin-right: auto;
}

footer#aboutus #contributors{
	padding-top: 0.5%;
}

footer#aboutus #github-icon{
	padding-top: 0.5%;
	color: black;
}

footer#aboutus #github-icon:hover{
	color: #808080;
}



