body{
    background-color: #FFFFFA;
}

#main_area{
    position: absolute;
    top: 0;
    bottom: 0; 
    left: 0; 
    right: 0;
    margin: auto;
	padding: 1%;
    background-color: #FFFFFA;
    width: 380px;
    height: 450px;
    border : 2px #4B8CB1 solid;
	z-index: 0;
}

/*LOGIN BUTTON*/
/*-----------------------------------*/
#main_area #login{
	position: absolute;
	width: 98%;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 0;
	border-top: 2px #4B8CB1 solid;
	padding-top: 4%;
	color: #757575;
	bottom: 2%;
}

#main_area #login span{
	position: relative;
	float: left;
	margin: 0;
	text-align: center;
}

#main_area #login span a{
    text-decoration: none;
}

#main_area #login span:first-child{
	left: 6%;
}

#main_area #login span#google_login{
	font: 20px Helvetica;
	margin-left: 10%;
	margin-right: 6%;
	width: 28%;
}

#main_area #login span#facebook_login{
	font: 20px Helvetica;
	/*width: 35%;*/
	/*margin-right: 5%;*/
}

/*FOOTER*/
/*-----------------------------------*/
footer#aboutus{
	font: 14px Helvetica;
	clear: both;
    background: #4B8CB1;
    color: #FCE38F;
    padding: 0;
    padding-top: 8px;
    text-align: center;
    position: fixed;
    height: 85px;
    bottom: 0%;
    width: 100%;
    z-index: 5;
}

footer#aboutus #footer-info{
	margin-left: auto;
	margin-right: auto;
}

footer#aboutus #contributors{
	padding-top: 0.3%;
}

footer#aboutus #github-icon{
	padding-top: 0.3%;
	color: #FCE38F;
}

footer#aboutus #github-icon:hover{
	color: #94F3FC;
    padding-bottom: 8px;
}
/*PARTICLES EFFECT*/
#particles{
	height:100%;
}
